:root {
    --font-size: 1vw;
    --color-orange: #f7882f;
    --color-blue: #687a8f;
    --color-yellow: #f7c331;
}

html {
    box-sizing: border-box;
    font-Family: 'Oswald', Sans-Serif;
    font-Size: calc(var(--font-size) + 48px);
    font-Family: 'Quattrocento', Serif;
    font-Size: calc(var(--font-size) + 16px);
}

::before,
::after {
    box-sizing: inherit;
}

::before,
::after {
    box-sizing: inherit;
}

nav {
    background-color: var(--color-blue);
    margin: 0 auto 30px;
    width: 1100px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

nav li {
    text-transform: uppercase;
    list-style-type: none;
    letter-spacing: 1px;
}

nav a {
    padding: 20px;
    color: whitesmoke;
    text-decoration: none;
}

nav a:link,
nav a:visited {
    color: whitesmoke;
}

nav a:hover,
nav a:active {
    background-color: #314e6e;
    text-decoration: underline;
    color:whitesmoke;
}

main {
    width: 75%;
    margin: 0 auto;
}

header {
    margin-left: 4%;
    margin-right: 6%;
}

h1 {
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
    font-Family: 'Quattrocento', Serif;
    font-Size: calc(var(--font-size) + 32px);
    color: #314e6e;
    font-weight: 90%;
    line-height: 80%;
    text-transform: uppercase;
}

h2 {
    text-align: center;
    font-Family: 'Quattrocento', Serif;
    font-Size: calc(var(--font-size) + 19px);
    color: #314e6e;
    font-weight: 90%;
    line-height: 80%;
    text-transform: uppercase;
}

p {
    font-Family: 'Quattrocento', Serif;
    font-size: calc(var(--font-size) + 12px);
}



img {
    max-width: 30%;
    margin-left: 35%;
    margin-right: 10%;
    border-radius: 50%;
    box-shadow: 3px 5px 3px var(--color-blue);
    shape-outside: circle(50%);
}

.General,
.Objective,
.Organization,
.Operation {
    width: 40%;
    float: left;
}

.Objective,
.Operation {
    margin-right: 6%;
}

.General,
.Organization {
    margin-right: 8%;
    margin-left: 4%;
}