:root {
    --font-size: 1vw;
    --color-orange: #f7882f;
    --color-blue: #687a8f;
    --color-yellow: #f7c331;
}

html {
    box-sizing: border-box;
    font-Family: 'Oswald', Sans-Serif;
    font-Size: calc(var(--font-size) + 10px);
    font-Family: 'Quattrocento', Serif;
    font-Size: calc(var(--font-size) + 4px);
}

::before,
::after {
    box-sizing: inherit;
}

#wrapper {
    width: 60%;
    background-color: var(--color-blue);
    color: white;
    padding: 2rem;
    border-radius: 2rem;
    margin: auto;
}

nav {
    background-color: var(--color-blue);
    margin: 0 auto 30px;
    width: 1100px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

nav li {
    text-transform: uppercase;
    list-style-type: none;
    letter-spacing: 1px;
}

nav a {
    padding: 20px;
    color: whitesmoke;
    text-decoration: none;
}

nav a:link,
nav a:visited {
    color: whitesmoke;
}

nav a:hover,
nav a:active {
    background-color: #314e6e;
    text-decoration: underline;
    color:whitesmoke;
}

form {
    padding-left: 3rem;
}

label,
span {
    display: inline-block;
    width: 250px;
    margin-right: 2px;
    text-align: right;
}

.radio label {
    width: 12px;
}

span {
    margin-top: 20px;
    margin-bottom: 20px;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=date],
input[type=number],
input[type=file],
input[type=checkbox],
input[type=password] {
    padding: 10px;
    margin: 8px;
    border: none;
    border-radius: 8px;
}

textarea {
    border-radius: 8px;
}

input[type=checkbox],
input[type=radio] {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

select {
    height: 20px;
}

button {
    background-color: white;
    color:steelblue;
    padding: .5rem;
    width: 5rem;
    border: none;
    margin-bottom: 1rem;
    margin-left: 80%;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: .75rem;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
}

button[type=submit] {
    margin-top: 2rem;
}